# 값은 이 파일에 넣지 않는다. 서버에서 infra/.env를 만들고 아래 이름에 값을 주입한다.
JENKINS_ADMIN_ID=
JENKINS_ADMIN_PASSWORD=
JENKINS_PUBLIC_URL=
JENKINS_AGENT_SECRET_LINUX_DOCKER=
JENKINS_AGENT_SECRET_DEPLOY=
JENKINS_AGENT_SECRET_UNITY=
GITHUB_CREDENTIALS_ID=
GITLAB_CREDENTIALS_ID=
GITLAB_API_CREDENTIALS_ID=
GITLAB_CHECKOUT_CREDENTIALS_ID=
GITLAB_HOST=
GITLAB_SERVER_NAME=
GITLAB_SERVER_URL=
GITLAB_PROJECT_OWNER=
GITLAB_PROJECT_PATH=
GITLAB_WEBHOOK_SECRET=
DEPLOY_CREDENTIALS_ID=
MATTERMOST_CREDENTIALS_ID=
MATTERMOST_HOST=
COMPONENT_SECRET_TEXT_CREDENTIAL_ID=
TEAM_DOMAIN=
TLS_CERT_PATH=
TLS_PRIVATE_KEY_PATH=
DOCKER_SOCKET_PATH=
UNITY_EDITOR_ROOT=
UNITY_LICENSE_OWNER=
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
MATTERMOST_WEBHOOK_URL=
GAME_IMAGE_REF=
ROOT_DOMAIN=
GAME_UPSTREAM_HOST=
GAME_UPSTREAM_PORT=
CONNECTION_TOKEN_SECRET=
CONNECTION_TOKEN_SECRET_FILE=
WORLD_REPLAY_LEDGER_VOLUME=
