server {
    listen 80;
    server_name ${ROOT_DOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name ${ROOT_DOMAIN};

    ssl_certificate ${NGINX_ORIGIN_CERTIFICATE_FILE};
    ssl_certificate_key ${NGINX_ORIGIN_PRIVATE_KEY_FILE};

    add_header Cache-Control "no-store" always;
    add_header Retry-After "60" always;
    return 503;
}
